@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@500&display=swap');

@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
}


@layer base {

  * {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
  }


  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }

  ::-webkit-scrollbar-track {
    background: #020617; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #334155; 
    border-radius: 100px;
    border: 2px solid #020617; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #475569; 
  }
}